<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header>
            Edit Profile
        </header>
        <form method="post">
            <label>Change Avatar:</label>
            <input type="file" id="avatar" name="avatar" accept="image/*">

            <label>Change Password:</label>
            <input type="password" name="pass">

            <label>Change Display Name:</label>
            <input type="text" name="displayName">

            <label>Submit Changes:</label>
            <input type="submit"/>
        </form>
        <div style="height: 1px; background-color: #0f0f0f; w-full"></div>
        <p>Played Games:</p>
    </body>
</html>