* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #D8E4FF;
    background-color: #00120B;
}

.inputBox {
    padding: 1px;
}

.inputBox:focus {
    background: #31E981;
}